#container-fluid{
         align-content: center;
     text-align: center;
 }

     #timer {
     margin: 0px 0px 0px 0px;
     padding: 50px;
}  


h1 {
    font-size:60pt;
}
h4 {
    font-size:17pt;
    color: GoldenRod;
}
h5 {
    font-size:30pt;
    text-align: center;
    margin:20px;
    color: #ff4500;
}

body {
    width: 100%;
    text-align: center;
    margin: 80px 10px 0px 120px;
    padding: 10;
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:10pt;
    color: #ff4500;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
 }
#start {
        
 }  



/* Topmatter */

#crystalspink img {
    display: block;
    height: 50px;  
    width: 100px;
    
}
#crystalsblue img {
    display: block;
    height: 50px;  
    width: 100px;
    }
#crystalspurple img {
    display: block;
    height: 50px;  
    width: 100px;
    }
#crystalsyellow img {
    display: block;
    height: 50px;  
    width: 100px;
    
}



button{
    background:#f1f1f1;
    height:auto;
    text-align: center;
}
/* For the left 'Guess A Letter!' and 'Guessed Letter' boxes. */
.col-sm-2 {
     text-align:center;
     float:center;
     font-family: 'Righteous', cursive;    
    margin-top: 0px;
 }

.col-sm-3 {
     text-align:center;
     float:center;
     font-family: 'Righteous', cursive;
     
 }

.col-sm-9 {
    font-family: 'Righteous', cursive;
     text-align:center;
}

.col-sm-9 {
    font-family: 'Righteous', cursive;
     text-align:center;
 }

.col-sm-4 {
    font-family: 'Righteous', cursive;
     text-align:center;
     padding-top: 10px;

}
.well {
    background-color: black; 
    border-top-width: 5px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width:0px;
    border-color: Goldenrod;
    color: #ff4500;
    opacity: 0.7;
}

